.partialpost
  .sendtime
    = post.created_at.strftime("%Y/%m/%d (%a) %H:%M")
  %span.recordletter Record:
  %span.timeletter
    = post.time
  %span.textletter 
    = simple_format(post.text)
  %ul
    %li.nickname @
    %li.nickname
      = post.user.nickname
