header.header {
  border-bottom: 1px solid $gray;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  position: fixed;
  div.header__bar.row {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 660px;
    h1.grid-6 {
      font-size: 20px;
      line-height: 41px;
      float: left;
      a {
        display: block;
        text-decoration: none;
        color: $dark;
        line-height: 62px;
        font-family: 'BioRhyme', serif;
      }
    }
    div.grid-6 {
      float: right;
      text-align: right;
      a.post {
        width: 120px;
        display: inline-left;
        color: $dark;
        line-height: 62px;
        &__header-signin{
          font-family: 'Baloo Bhai', cursive;
          color: #41b1f1;
          text-decoration: none;
          font-size: 20px;
          margin-left: 25px;
        }
        &__header-signup{
          font-family: 'Baloo Bhai', cursive;
          color: #f73982;
          text-decoration: none;
          font-size: 20px;
          margin-left: 25px;
        }
      }
      a.playbutton{
        width: 120px;
        display: inline-left;
        margin-left: 30px;
        text-decoration: none;
        color: rgb(6, 245, 65);
        line-height: 62px;
        font-family: 'Baloo Bhai', cursive;
        font-size: 25px;
      }
    }
  }
  .user_nav {
    position: relative;
    height: 100px;
    right: 0;
    span {
      color: $dark;
      top: 5px;
      display: block;
      float: left;
      margin-left: 30px;
      width: 150px;
      height: 50px;
      font-size: 1.2em;
      line-height: 50px;
      font-family: 'Baloo Bhai', cursive;
      cursor: pointer;
      position: relative;

      &:after {
        content: '▼';
        font-size: .7em;
      }
      &:hover ul {
        color: $accent;
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: 0;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
      border-radius: 5px;
      li {
        background-color: #f0f0f0;
        a {
          display: block;
          padding: 5px 10px;
          text-align: left;
          border-bottom: 1px solid #d8d8d8;
          text-decoration: none;
          color: $dark;
        }
      }
     }
  }
}