.post{
  margin-top: 62px;
  overflow: scroll;
  .partialpost{
    margin: 20px 0;
    padding: 30px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    max-width: 660px;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  }
}